<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/image.css')}}" />

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <script type="text/javascript" src="{{url_for('static',filename='image.js')}}"></script>
</head>

<body>

    {% extends "index.html" %} {% block section %}
    <main>
        <section class="hero">
            <div class="hero_img">
                <img src="{{url_for('static',filename='images/back.jpg')}}" alt="Breast Cancer Awareness" />
            </div>
            <div class="hero_info">
                <h1>
                    LIVE LONG LIVE HEALTHY<br>
                    <span class="description"> Health is wealth <span class="underline">Early Detection is Key</span></span>
                </h1>
                <button class="cta-button
    
    {% endblock %}
</body>


</html>
